html {
  font-family: Verdana;
}

h1 {
  color: #fff;
  font-family: Georgia;
  text-shadow: 1px 1px 1px black;
}

.img-flex {
  display: block;
  width: 100%;
}

.border {
  border-top: solid 2px rgba(28, 14, 0, 1);
  border-bottom: solid 2px rgba(28, 14, 0, 1);
}

figcaption {
  font-family: Georgia;
}

a {
  color: #000;
}

.content {
  background-color: #fff;
}

  body {
    background: url("../images/sloth-bg.svg") center center repeat;
    background-color: #bea586;
    background-size: 48px;

  }

}
