html {
  font-family: Verdana;
}

h1 {
  color: #fff;
  font-family: Georgia;
  text-shadow: 2px 2px 2px black;
  top: .5em;
  left: 1em;
}

.img-flex {
  display: block;
  width: 100%;
}

.border {
  border-top: solid 2px rgba(28, 14, 0, .5);
  border-bottom: solid 2px rgba(28, 14, 0, .5);
}

figcaption {
  font-family: Georgia;
}

a {
  color: #000;
}

.content {
  background-color: #fff;
}

body {
  background: linear-gradient(to top, #000, transparent);
}

body {
  background: url("../images/sloth-bg.svg") center center repeat;
  background-color: #bea586;
  background-size: 48px;
}
